#된장찌개 {
    background: url(img/된장찌개.png) no-repeat center / cover;
}
#돌솥비빔밥{
    background: url(img/돌솥비빔밥.png)  no-repeat center / cover;
}
#삼계탕{
    background: url(img/삼계탕.png)  no-repeat center / cover;
}
#김치볶음밥{
    background: url(img/김치볶음밥.png)  no-repeat center / cover;
}
#중화볶음밥{
    background: url(img/중화볶음밥.png) no-repeat center / cover;
}
#돌솥비빔밥{
    background: url(img/돌솥비빔밥.png)  no-repeat center / cover;
}
#스파게티{
    background: url(img/스파게티.png)  no-repeat center / cover;
}
#함박스테이크 {
    background: url(img/함박스테이크.png) no-repeat center / cover;
}
#군만두{
    background: url(img/군만두.png)  no-repeat center / cover;
}
#우동{
    background: url(img/우동.png)  no-repeat center / cover;
}
#초밥{
    background: url(img/초밥.png)  no-repeat center / cover;
}
#라면{
    background: url(img/라면.png)  no-repeat center / cover;
}
#김밥{
    background: url(img/김밥.png)  no-repeat center / cover;
}
#짬뽕{
    background: url(img/짬뽕.png)  no-repeat center / cover;
}
#짜장면{
    background: url(img/짜장면.png)  no-repeat center / cover;
}
#돈까스{
    background: url(img/돈까스.png)  no-repeat center / cover;
}
#타꼬야끼{
    background: url(img/타꼬야끼.png)  no-repeat center / cover;
}
#햄버거{
    background: url(img/햄버거.png)  no-repeat center / cover;
}
#부리또{
    background: url(img/부리또.png)  no-repeat center / cover;
}
